@import '../../style/variables.scss';

.popup{
   position: absolute;
   top: 40%;
   left: calc(50% - 325px);
   max-width: 750px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1005;
   border-radius: 10px;
   box-shadow: $box-shadow;
   background-color: rgba(255, 255, 255);
   padding: 20px;
   
}
.popup-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   gap: 10px;
}
.blur{
   position: absolute;
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   top: 0;
   left: 0;
}

.close{
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   svg{
      transition: all .3s;
   }
   &:hover{
     svg{
      transform: rotate(360deg) 
     }     
   }
}

.day_temp{
   font-size: 60px;
   color: #4793FF;
}
.day_time,.day_city{
   color: gray;
   font-size: 14px;
}
.day{
   text-align: left;
   .img,.day_name{
      margin-bottom: 10px;
   }
}