.App {
  text-align: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.link:not(:last-child) {
  margin-right: 50px;


}

.active {

  border: 1px solid ;
  padding: 5px;
  border-radius: 10px;
}

.container{
  margin-top: 50px;
}

