@import '../../../../style/variables.scss';

.thisDay {
   border: 1px solid rgba(128, 128, 128, 0.2);
   border-radius: 10px;
   max-width: 400px;
   width: 100%;
   box-shadow: $box-shadow;
   background: var(#{--components-backround-default});
   padding: 10px 35px;

   img {
      width: 150px;
   }
   .weather-box{
     
      background-color: rgba(128, 128, 128, 0.5);
      border-radius: 10px;
   }
   .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h2 {
         font-size: 96px;
         font-weight: 500;
         color: #4793FF;
         letter-spacing: 2px;
      }

      p {
         text-align: start;
         font-size: 30px;
         color: var(#{--text-color-default});
      }
   }

   >p {
      text-align: start;
      color: grey;
      font-size: 22px;
   }
}